@font-face {
    font-family: 'RedHatItalic';
    src: url('../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

    font-family: 'RedHatText';
    src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: hsl(17, 33%, 96%);
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    
}

h1 {
    text-align: left;
    font-family: 'RedHatItalic', sans-serif;
    font-weight: 700;
}

.content {
    display: flex;
    justify-content: space-between;
}

.container-with-cards {
    width: 70%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    font-family: 'RedHatText', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.description {
    margin-top: 25px;
    margin-bottom: 7px;
    color: black;
}

.title {
    font-size: 14px;
    margin: 25px 0 -20px;
    color: hsl(14, 25%, 72%);
}

p {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(7, 20%, 60%);
}

.product img {
    max-width: 100%;
    border-radius: 10px;
    z-index: 1;
}

button.add-to-cart {
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid hsl(7, 20%, 60%);
    position: absolute;
    top: 232px;
    left: 22%;
    z-index: 2;
}

button.add-to-cart:hover {
    color: hsl(7, 20%, 60%);
}

.add-to-cart.clicked {
    background-color: hsl(14, 86%, 42%);
}

.quantity-selector {
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 232px;
    left: 27%;
    z-index: 2;
}

.quantity-selector button {
    color: white;
    border: 1px solid white;
    background-color: hsl(14, 86%, 42%);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.quantity-selector span {
    font-size: 18px;
    padding: 5px 10px;
}

.cart {
    background-color: white;
    padding: 20px;
    width: 25%;
    height: fit-content;
    border-radius: 10px;
    font-family: 'RedHatItalic', sans-serif;
    color: rgb(199, 58, 15);
}

.cart-items {
    list-style: none;
    padding: 0;
}

.empty-cart-message {
    font-size: 16px;
    color: hsl(14, 25%, 72%);
    display: grid;
    place-items: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-name{
    font-weight: bolder;
    font-size: large;
}

.item-price{
    font-weight: bold;
}

.cart-items li.hidden {
    display: none;
}

.total-price {
    font-size: 20px;
    padding-left: 100px;
    font-weight: bold;
    color: rgb(75, 70, 70);
    text-align: right;
}

button.confirm-order {
    padding: 10px 15px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 15px;
}

button.confirm-order:hover {
    background-color: hsl(6, 32%, 32%);
}

/* Адаптивність для великих екранів (2560px) */
@media (min-width: 2560px) {
    .main-content {
        max-width: 2000px;
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .cart {
        width: 25%; 
    }
    button.add-to-cart, .quantity-selector {
        font-size: 14px;
        top: 70%;
        left: 30%;
    }
}

/* Адаптивність для екранів середнього розміру (1024px) */
@media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr); 
    }
    .container-with-cards {
        width: 67%;
    }

    .cart {
        width: 25%; 
    }
    button.add-to-cart, .quantity-selector {
    font-size: 14px;
    top: 54%;
    left: 16%;
}
}


/* Адаптивність для планшетів (768px) */
@media (max-width: 768px) {
    .main-content {
        padding: 20px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }

    .container-with-cards {
        width: 55%;
    }

    .cart {
        width: 35%; 
    }

    button.add-to-cart, .quantity-selector {
        top: 49%;
        left: 15%;
    }
}

/* Адаптивність для мобільних пристроїв (425px) */
@media (max-width: 426px) {
    .main-content {
        padding: 10px;
    }

    .container-with-cards {
        width: 80%;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .products {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }

    .cart {
        width: 80%; 
        margin-top: 20px; 
    }

    button.add-to-cart, .quantity-selector {
        top: 70%;
        left: 30%;
    }

    .total-price {
        padding-left: 0;
        text-align: left;
    }
}
@media (max-width: 320px) {

    button.add-to-cart, .quantity-selector {
        top: 60%;
        left: 25%;
    }
}

